In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("iris.csv")
df.head()

   col1  col2  col3  col4    col5
0   5.1   3.5   1.4   0.2  Setosa
1   4.9   3.0   1.4   0.2  Setosa
2   4.7   3.2   1.3   0.2  Setosa
3   4.6   3.1   1.5   0.2  Setosa
4   5.0   3.6   1.4   0.2  Setosa

In [8]:
column=len(list(df))
print(column)

5

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    187 non-null    float64
 1   col2    187 non-null    float64
 2   col3    186 non-null    float64
 3   col4    187 non-null    float64
 4   col5    186 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.4+ KB

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
fig, axes=plt.subplots(2,2, figsize=(16,8))

axes[0,0].set_title("Distribution of first column")
axes[0,0].hist(df["col1"]);

axes[0,1].set_title("Distribution of second column")
axes[0,1].hist(df["col2"]);

axes[1,0].set_title("Distribution of third column")
axes[1,0].hist(df["col1"]);

axes[1,1].set_title("Distribution of fourth column")
axes[1,1].hist(df["col4"]);